@import 'https://fonts.googleapis.com/css?family=Quicksand:400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    line-height: 1.25;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"]{
    width:80%;
    text-align: center;
}

#full {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

#header {
    height: 15vh;
    margin: 0 auto;
    margin-bottom: 20px;
    display: table;
}

#title {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-style: 250;
    color: white;
    font-size: 150%;
}

#keckcontainer {
    margin: 0 auto
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}
#logo {
    float:left;
    margin-right: 10px;
}

#keck {
    margin-left:10px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 20px;
}

#container {
    float: left;
    width: 55%;
    height: 97%;
    margin: 10px;
    overflow: scroll;
    /* border: 1px solid black; */
    display: inline-block;
}

#echelle {
    height:100%;
    width: 100%;
}
#echellebg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0 auto 10px;
    height:50vw;
    width:50vw;
    border: 1px solid black;
    position: absolute;
    background-color: rgba(200,200,200,0.5);
}

.data {
    color: black;
    padding: 7px;
    background-color: white;
    display: block;
    position: relative;
    text-align: center;
    border-radius: 3px;
    -webkit-box-shadow: 0 30px 30px rgba(0, 0, 0, 0.25);
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    opacity:1;
}

#ui {
    float: right;
    width: 40%;
    height: 100vh;
    display: inline-block;
    margin: auto 0;
    padding-right: 10px;
    font-size: 14px;
}

#ui-top {
    /* margin-bottom: 10px; */
    margin-top: 10px;
    min-height:30%;
    width: 100%;
}

#ui-bottom {
    margin: 0 auto;
    width: 100%;
    max-height: 50%;
    clear: none;
    margin: auto;
}

.interface {
    clear: none;
    margin: 0 auto;
    width: 45%;
    height: 100%;
}
.d1 {
    display: inline-block;
    float:left;
    height:100%;
    width:50%;
}
.d2 {
    display: inline-block;
    float: left;
    height: 100%;
    width:45%;
}
#spectra {
    width: 60%;
    height: 100%;
}
#spectra #popup {
    visibility: hidden;
    position:absolute;
    z-index: 1;
    transform: translate(-50%,-50%);
    width:500px;
    height:500px;
}
#spectra:hover #popup {
    visibility: visible;
}
#input {
    margin-left: 15px;
}

#zoom {
    width: 80%;
}

#settings {
    width:30%;
    position:relative;
}
#toggle {
    position: absolute;
    transform: translate(-15%,10%);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
}

.settings-item {
    margin-bottom: 10px;
    width: 75%;
}

.button {
    display: block;
    height: 30px;
    width: 100px;
    background: green;
    text-align: center;
    padding-top: 10px;
    padding-left: 0px;
    font: 15px arial bold;
    border: 1px solid black;
    text-decoration: none;
    list-style:none;
    margin: 10px 0px 10px 0px;
}

input[type="button"] {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid gray;
    display:inline-block;
}
input[type="button"]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cdcdcd), color-stop(1, #afafaf));
    background:-moz-linear-gradient(top, #cdcdcd 5%, #afafaf 100%);
    background:-webkit-linear-gradient(top, #cdcdcd 5%, #afafaf 100%);
    background:-o-linear-gradient(top, #cdcdcd 5%, #afafaf 100%);
    background:-ms-linear-gradient(top, #cdcdcd 5%, #afafaf 100%);
    background:linear-gradient(to bottom, #cdcdcd 5%, #afafaf 100%);
}

.color {
    color: white;
}

#toggleColorRed {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
}
#toggleColorRed:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #a60d0f));
    background:-moz-linear-gradient(top, #c62d1f 5%, #a60d0f 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #a60d0f 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #a60d0f 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #a60d0f 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #a60d0f 100%);
}

#toggleColorBlue {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
}
#toggleColorBlue:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1d9bc9), color-stop(1, #0658ba));
    background:-moz-linear-gradient(top, #1d9bc9 5%, #0658ba 100%);
    background:-webkit-linear-gradient(top, #1d9bc9 5%, #0658ba 100%);
    background:-o-linear-gradient(top, #1d9bc9 5%, #0658ba 100%);
    background:-ms-linear-gradient(top, #1d9bc9 5%, #0658ba 100%);
    background:linear-gradient(to bottom, #1d9bc9 5%, #0658ba 100%);
}

select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color:#3498DB;
    background-repeat:no-repeat;
    background-position: right 5px top 5px;
    background-size: 8px 8px;
    padding:2px 20px 2px 10px;
    text-align:center;
    border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-appearance: none;
    border:1px solid gray;
    outline:0;
    -webkit-transition:0.3s ease all;
    -moz-transition:0.3s ease all;
    -ms-transition:0.3s ease all;
    -o-transition:0.3s ease all;
    transition:0.3s ease all;
    background-color:#dfdfdf;
}
select:hover {
    background-color:#afafaf;
}
select:focus, select:active {
    outline:0;
}

#detector {
    position: absolute;
    background: rgba(200,200,200,0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    display: block;
    border: 2px solid black;
    z-index: 90;
    /*    border-bottom: 3px solid black;
    */
}

#draggable {
    width:50px;
    height:50px;

}

.detectorbox {
    padding:0px;
    width:100%;
    height:100%;
    text-transform:uppercase;
    font-size: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    /* text-align: center; */
}

.dropdown .dropdown-menu {
    position: absolute;
    display: none;
    margin: 0;
    bottom:0;

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    /*background: #FF6223;*/
    border: none;
    margin: 0;
    padding: 0.2em 4em;
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;

    border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-appearance: none;
    border:1px solid gray;

    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color:#eaeaea;
    background-repeat:no-repeat;
    background-position: right 0.5em top 0.75em;
    background-size: 8px 8px;

}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 1em;
    background-color: #CCCCCC;
    color: #333333;
    font-family: 'Open Sans', sans-serif;

}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #BBBBBB;
}
